.identity {
  display: flex;
  gap: 3px;
}

.pip {
  border-radius: 50%;
  border: 1.5px solid;
  flex-shrink: 0;
}

.small {
  width: 14px;
  height: 14px;
}

.medium {
  width: 18px;
  height: 18px;
}

.large {
  width: 24px;
  height: 24px;
}
